* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,
#app {
  font-family: "Microsoft Yahei", sans-serif;
  height: 100%;
}

.section-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #303133;
}
.monitor-section {
    margin-bottom: 30px;
}